<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.SupplyMapper">

    <sql id="dynamicColumns">
        ${@com.example.provider.SupplySqlProvider@getDynamicSupplyColumns(filter)}
    </sql>

    <select id="selectSupplyData" resultType="java.util.Map">
        SELECT
            <include refid="dynamicColumns"/>
        FROM 
            TB_SUPPLY_DATA
        WHERE 
            SUPPLY_ID = #{id}
    </select>
    
</mapper>